:root {
  --fg: hsla(0, 0%, 0%, 0.87);
  --bg: #eee;
  --blackSpot: '♛';
  --whiteSpot: '♕';
  --destroyedSpot: '💥';
  --spot-valid: purple;
  --spot-same-bg: lightgrey;
  --spot-different-bg: white;
  --drag-fg: red;
  --spot-valid-bg: yellow;
  --spot-border: thin solid red;
  --spot-valid-bg-hover: yellow;
  --piece-size: 6vmin;
  --symbol-black-bg: transparent;
  --symbol-black-fg: --fg;
  --symbol-white-bg: transparent;
  --symbol-white-fg: --fg;
  --symbol-destroyed-bg: transparent;
  --symbol-destroyed-fg: --fg;
}

@media (min-width: 1200px) { /* bootstrap "xl" -- Don't let it get too big */
  :root {
    --piece-size: 5em;
  }
}

/* Normalize */
html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: var(--fg, black);
  background-color: var(--bg, white);
}

h1, ::part(title) {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  margin: .35em 0;
}
.subtitle {
  font-size: 16px;
}

.icon {
  position: fixed;
  top: 1em;
  right: 1em;
  color: var(--fg);
}

/* Parts */
::part(confetti) {
  position: fixed;
}

::part(game) {
  border: thin solid black;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

::part(lobby) {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #d3d3d3;
  border-radius: 0.5em;
}

/* Loading */
.loading {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  padding-top: 100px;
  text-transform: uppercase;
}
.loading div {
  position: absolute;
  background-color: royalblue;
  opacity: 1;
  border-radius: 50%;
  animation: loading 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes loading {
  0% {
    top: 40px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* Only show slots when state matches. */
p2p-switch[state="3"] .not-p2p-ready,
p2p-switch:not([state="0"]) .p2p-offline,
p2p-switch:not([state="3"]) .p2p-ready,
p2p-switch:not([state="2"]) [slot="loading"],
p2p-switch:not([state="-1"]) [slot="disconnected"] {
  display: none;
}
